<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=<device-width>, initial-scale=1.0"
		/>

		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>

		<title>Forgot password</title>
		<link
			rel="stylesheet"
			href="{{url_for('static',filename='css/login.css')}}"
		/>
	</head>

	<body>
		{% with messages = get_flashed_messages() %} {% if messages %}
		<ul class="flashes">
			{% for message in messages %}
			<center>
				<li>{{ message }}</li>
			</center>
			{% endfor %}
		</ul>
		{% endif %} {% endwith %}
		<form method="POST">
			<div class="card">
				<div class="form">
					<h3>Enter your email</h3>

					<div class="input-field">
						<i class="fa fa-envelope"></i>
						<input
							type="text"
							name="email"
							placeholder=" email"
							required
						/>
					</div>

					<button>Submit</button>
				</div>
			</div>
		</form>
	</body>
</html>
