<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>

		<link
			rel="stylesheet"
			href="{{url_for('static',filename='css/login.css')}}"
		/>

		<title>Sign up</title>
	</head>

	<body>
		{% include 'messages.html' %}
		<form method="POST">
			<div class="card">
				<div class="form">
					<h3>Sign Up</h3>

					<div class="input-field">
						<i class="fa fa-envelope"></i>
						<input
							type="text"
							name="first_name"
							placeholder="Enter your FirstName"
							required
						/>
					</div>
					<div class="input-field">
						<i class="fa fa-envelope"></i>
						<input
							type="text"
							name="last_name"
							placeholder="Enter your LastName"
							required
						/>
					</div>
					<div class="input-field">
						<i class="fa fa-user" aria-hidden="true"></i>
						<input
							type="text"
							name="user_name"
							placeholder="Enter your UserName"
							required
						/>
					</div>
					<div class="input-field">
						<i class="fa fa-phone-square" aria-hidden="true"></i>
						<input
							type="text"
							name="mobile"
							placeholder="Enter Mobile Number "
							required
						/>
					</div>
					<div class="input-field">
						<i class="fa fa-envelope"></i>
						<input
							type="email"
							name="email"
							placeholder="Enter your email"
							required
						/>
					</div>
					<div class="input-field">
						<i class="fa fa-calendar" aria-hidden="true"></i>
						<input
							type="date"
							name="dob"
							placeholder="Enter your DOB"
							required
						/>
					</div>

					<div class="input-field">
						<i class="fa fa-lock" aria-hidden="true"></i>
						<input
							type="password"
							name="password"
							placeholder="Password"
							required
						/>
					</div>
					<div class="input-field">
						<select
							class="form-select"
							id="user_type"
							name="user_type"
							required
						>
							<option value="citizen">Citizen</option>
							<option value="registrar">Registrar</option>
						</select>
					</div>
					<button>Sign up</button>

					<p>
						Already Have an Account?<a
							href="{{url_for('auth.login')}}"
							target="_blank"
							>Login</a
						>
					</p>
				</div>
			</div>
		</form>
	</body>
</html>
