<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=<device-width>, initial-scale=1.0"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<title>Verify</title>
		<link
			rel="stylesheet"
			href="{{url_for('static',filename='css/login.css')}}"
		/>
	</head>

	<body>
		{% include 'messages.html' %}
		<form action="{{ url_for('auth.verify',token=token) }}" method="POST">
			<div class="card">
				<div class="form">
					<h3>Enter your email</h3>

					<label>Enter new password :</label>
					<div class="input-field">
						<i class="fa fa-envelope"></i>

						<input
							type="password"
							name="npassword"
							placeholder="new password"
							required
						/>
					</div>

					<label>Confirm password :</label>
					<div class="input-field">
						<i class="fa fa-envelope"></i>
						<input
							type="password"
							name="cpassword"
							placeholder="confirm password"
							required
						/>
					</div>

					<button>Submit</button>
				</div>
			</div>
		</form>
	</body>
</html>
